<header id="header">
    {{!-- <a href="/portafolio"><img src="img/Banner Jonhy.jpg" alt="Banner" class="banner" title="Ver Portafolio"></a> --}}
    <a href="/portafolio"><img src="img/Banner Jonhy.jpg" alt="Banner" class="banner" title="Ver Portafolio"></a>

    <div class="banner-text">
        <p>{{titulo}}</p>
        <h2>{{nombre}}</h2>
    </div>
</header>