<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Retriever</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Golden Retriever</h2>
            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/dfdPn4pF9Ec?si=zVI0AF72PGlZhNcW" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> Famoso por su pelaje dorado y brillante de longitud
                        media, el Golden Retriever grande tiene una expresión amistosa y una simetría perfecta. Se
                        desplaza con un pasos largos y fuertes en un movimiento fluido y soberbio. Los machos adultos
                        miden entre 56 y 61 cm y pesan de 30 a 34 kg. Las hembras adultas miden entre 51 y 56 cm y pesan
                        de 27 a 32 kg.<br><br>
                        El Golden Retriever es un perro amable y equilibrado que suele adaptarse bien a la vida en
                        familia. Le encanta participar en todas las actividades, ya sean dentro o fuera de casa. Por
                        encima de todo, es un perro cobrador, así que intentará arrastrar, tirar o llevarse todo lo que
                        le quepa en la boca. También le encanta el agua, por lo que deberás estar atento a su seguridad
                        cuando esté cerca de ella. No hay que olvidar que los golden son muy sensibles; de modo que debe
                        llevarse mucho cuidado al adiestrarlos para no perder la sensibilidad en ningún momento.</p>

                    <p class="p-desc"><strong>Haz clic para ver más información</strong></p>
                    <a href="https://www.purina.es/encuentra-mascota/razas-de-perro/golden-retriever"
                        target="_blank"><img src="/img/gretriever.jpg" alt="p-Jubilacion" class="icono-proyecto"
                            title="Ver más información"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>