<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PerrosDomesticos</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="separador2">
            <div class="separador">

                {{!-- <marquee scrollamount="15" onmouseover="this.stop();" onmouseout="this.start();">
                    <h1 class="h1-i">Johny David Chiroy Guarcax</h1>
                </marquee> --}}

                <h1 class="h1-i">Perros Domésticos</h1>

                <p class="p-i">El término “perro doméstico” se refiere a cualquiera de los cientos de razas de perros
                    que hay en el mundo hoy en día. Si bien estos animales varían drásticamente en cuanto a su
                    apariencia, todos los perros, desde el chihuahua hasta el gran danés, son miembros de la misma
                    especie, Canis familiaris. Esto separa a los perros domésticos de los caninos salvajes, como
                    coyotes, zorros y lobos.</p>
                <p class="p-i">Los perros domésticos se mantienen principalmente como mascotas, aunque muchas razas son
                    capaces de sobrevivir por sí mismas, ya sea en un bosque o en las calles de una ciudad. Según un
                    estudio realizado en 2016, un tercio de todos los hogares del mundo tienen un perro. Esto convierte
                    al perro doméstico en la mascota más popular del planeta.</p>
            </div>
            <div class="cuadro-foto">
                <img src="img/perrosdomesticos.jpg" alt="" class="foto">
            </div>
        </div>
        <div class="cuadrofin">
            <h2>Orígenes Evolutivos</h2>
            <p class="p-i">Todos los perros descienden de una especie de lobo, pero no del lobo gris (Canis lupus), como
                suponen muchas personas. De hecho, la evidencia de ADN sugiere que el antepasado lobo ahora extinto de
                los perros modernos era euroasiático. Sin embargo, los científicos aún están trabajando para comprender
                exactamente qué especies dieron origen a los perros. <br><br>

                Cuándo los perros se separaron de sus ancestros salvajes también es un misterio, pero la genética
                sugiere que ocurrió entre 15.000 y 30.000 años atrás.</p>
            
            <div class="cuadro-foto">
                <img src="img/perrosdomesticos2.jpg" alt="" class="icono-habilidad1">
            </div>

            <h2>Vivir con perros</h2>
            <p class="p-i">La mayoría de los perros son una mezcla de razas: en el año 2015, un estudio estimó que solo
                el 5% de los perros en los refugios son de raza pura. Así como los perros se presentan en todos los
                tamaños, formas y colores, estos animales también vienen en un amplio espectro de temperamentos. Un
                bulldog puede parecer feroz, pero puede ser tierno como un gatito, mientras que un lindo cocker spaniel
                puede morderte el dedo sin pensarlo dos veces.</p><br><br>
        </div>
    </main>

    {{>footer}}

</body>

</html>