<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor Alemán</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Pastor Alemán</h2>
            <div class="section">
                <iframe class="video" width="560" height="315"
                    src="https://www.youtube.com/embed/CcwceR_QdPg?si=O1DwfsvoNMTi9JYQ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <div class="proyecto1">
                    <p class="p-p"><strong>Descripción:</strong> Los Pastores alemanes son una de las razas más
                        reconocibles del mundo. Tienen un aspecto musculoso y atento y una actitud noble y distante. Son
                        perros ágiles y bien equilibrados de porte orgulloso. Su pelaje puede presentar varios colores
                        (consulta el estándar de la raza) y están formados por un manto superior duro, áspero y lacio, y
                        un manto inferior grueso. La altura ideal del macho adulto es de 63 cm y la de la hembra, 58 cm.
                        El peso puede estar entre 30 y 36 kg.</p><br><br>

                        <h3>Características:</h3>
                        <img class="icono-habilidad" src="/img/caracteristicaspastoraleman.jpg" alt=""><br><br>

                        <p class="p-p">El pastor alemán desarrollará un vínculo muy estrecho con su amo y querrá pasar con él o ella el
                        mayor tiempo posible. Aunque esta raza necesita mucha atención, lo dará todo con su lealtad y su
                        actitud de guardián fiel e incorruptible. Por otra parte, si no dedicas tiempo a socializarlo y
                        a entrenarlo, el pastor alemán tendrá problemas de seguridad en sí mismo y de indisciplina. Le
                        encanta aprender y presta mucha atención al adiestramiento; de hecho, demostrará ser un alumno
                        aventajado durante las sesiones.</p>
                        <img class="icono-habilidad" src="/img/pastoraleman.jpg" alt="">
                        <img class="icono-habilidad" src="/img/pastoraleman2.jpg" alt=""><br><br>
                    <p class="p-desc"><strong>Haz clic para ver más información</strong></p>
                    <a href="https://www.purina.es/encuentra-mascota/razas-de-perro/pastor-aleman" target="_blank"><img
                            src="/img/pastoraleman.jpg" alt="p-Jubilacion" class="icono-proyecto"
                            title="Ver más información"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>