<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pequinés</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Pequinés</h2>

            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/U71_35DXfgM?si=BNT9pA8BUejgVAbb" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong>Para conocer el origen del Pequinés debemos remontarnos
                        a una leyenda china que dice que Buda redujo un león al tamaño de un perro. Quizás no tanto por
                        Buda, y sí por la mano del hombre la que hizo surgir esta raza hace muchos años atrás a espaldas
                        de Europa.</p> <br><br>

                    <h3>Características</h3>
                    <img class="icono-habilidad1" src="/img/capequines.png" alt=""><br><br>

                    <p class="p-p">La nobleza china fue quien se ocupó en la crianza de perros con cara plana como el pug (carlino)
                    o Shih-Tzu, pues buscaban esta característica en el animal ya que estaba vinculada a su
                    mitología.<br><br>
                    <img class="icono-habilidad" src="/img/pequines.jpg" alt="">
                    <img class="icono-habilidad" src="/img/pequines.jpeg" alt=""><br><br>
                    Estos animales fueron tan queridos que el robo de un perro suponía la muerte para el ladrón.
                    Además, fueron venerados por los monjes budistas por su reminiscencia a los leones de
                    Fu.<br><br>
                    </p>

                    <p class="p-desc"><strong>Haz clic para ver más información</strong></p>
                    <a href="https://www.kiwoko.com/blogmundoanimal/ficha-de-raza/pequines/?srsltid=AfmBOopGVKdeMZ516qrG9UWBpwNJlZvNsDv0cfjyjRpp_gXcjntx5p9Y"
                        target="_blank"><img src="/img/pequines.png" alt="p-EticaProfesional" class="icono-proyecto"
                            title="Ver más información"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>